<nav>
  <div class="logo-container">
    <div class="logo"><a ui-sref="main">ajrob</a></div>
    <div class="logo-subtext">/* developer */</div>
  </div>
  <ul class="navigation">
    <li class="navigation-page"><a ui-sref=".projects">Projects</a></li>
    <li class="navigation-page"><a href="#">About</a></li>
  </ul>
</nav>
<main>

  <section class="intro">
    <p>Front-end development, back-end development, Javascript, Objective-C, C#, C++, et al.</p>
    <p>Alex doesn't choose sides; he's a lover of all bytes.</p>
  </section>
  <section class="links-section">
    <p>
      <a ui-sref=".projects">Projects</a>
      <div ui-view></div>
    </p>
  </section>
</main>